#projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectsHeader {
  font-size: 3.5rem;
  color: #ffc755;
}

#iconsContainer {
  display: grid;
  grid-template-columns: minmax(20px, auto) 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
