.aboutSection {
  width: 100rem;
}

.mainTitle {
  font-size: 4rem;
  text-shadow: 4px 4px black;
}

.aboutBio {
  font-size: 1.5rem;
  width: 75rem;
  color: white;
  line-height: 3rem;
}

.aboutDetails {
  display: flex;
}

.profilePicture {
  float: right;
  border: #ffc755 4px solid;
  border-radius: 400px;
  background-color: whitesmoke;
  margin-left: 70px;
}

span {
  color: #ffc755;
}
