.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactHeader {
  font-size: 3.5rem;
  color: #ffc755;
  text-shadow: 1px 1px black;
  font-family: "Bebas Neue", sans-serif;
}

.contactBlurb {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.contactLinks {
  display: flex;
  gap: 4rem;
}

@media all and (max-width: 480px) {
  .contactHeader {
    font-size: 3rem;
  }

  .contactBlurb {
    width: 45vh;
    text-align: center;
  }

  .contactLinks {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
