* {
  background-color: #404258;
  font-family: "Lato", sans-serif;
}

main {
  height: 100vh;
  
}

.mainTitle {
  color: white;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
