nav {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: 2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

span {
  color: #ffc755;
}

.navLink {
  text-decoration: none;
  color: white;
  margin-top: 12px;
}

.navLink:hover {
  color: #ffc755;
  transition: ease 500ms;
}

#resumeLink {
  text-decoration: none;
  color: white;
  border: 2px #ffc755 solid;
  padding: 10px;
  border-radius: 25px;
}

#resumeLink:hover {
  background-color: #ffc755;
  transition: ease 500ms;
}
